.cardM {
  background-color: #f9f9f8;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 0px 6px gray;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s ease;
  transform-style: preserve-3d;
  animation: hideCard 5s;
}

@keyframes hideCard {
  0% 70% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.back {
  background-color: #f9f9f8;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 0px 6px gray;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  cursor: pointer;
}

.cardM.open {
  transform: rotateY(180deg);
}

@media (max-width: 600px) {
  .cardM {
    height: 55px;
    width: 55px;
  }
}
