@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  pading: 0;
  background: #dae1fb;
  background: -webkit-radial-gradient(top left, #dae1fb, #d7eafe);
  background: -moz-radial-gradient(top left, #dae1fb, #d7eafe);
  background: radial-gradient(to bottom right, #dae1fb, #d7eafe);
    font-family: "Mukta", sans-serif;
  font-family: "Oxygen", sans-serif;
}

main {
  width: 100%;
  height: min-h-sceen;
  pading: 20px;
}
