.score {
    width: auto;
    text-align: center;
    padding: 1rem 0;
}

.x-score {
    color: #2a2c41;
    border-bottom: 5px solid #ff724c;
    border-radius: 0.5 rem 0 0 0.5rems;
}

.o-score {
    color: #2a2c41;
    border-bottom: 5px solid #ff724c;
    border-radius: 0 0 0.5 rem 0.5 rem 0;
}

.inactive {
    border-bottom: 5px solid transparent;
}

