.box {
    background-color: #F9F9F8;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 6px gray;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
  }

.x {
    color: #4c83ff;
}

.o {
    color: #ffc03d;
}

.box:hover {
    box-shadow: 0px 0px 15px gray;
}