/* * {
  pading: 0;
  margin: 0;
  box-sizing: border-box;
}

.memory-cards {
  display: flex;
  align-items: center;
  justify-content: center;

}*/

.card-container {
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  perspective: 700px;
}

